.row
	.col-md-10.col-md-offset-1.box-container
		%h2 Subscribe to our newsletter!
		%p You will receive an email notification each time someone posts new place that makes them happy on this page and a monthly summary.
		=form_for(@subscription, url: subscriptions_path) do |f|
			- if @subscription.errors.any?
				#error_explanation
					%h2
						= pluralize(@subscription.errors.count, "error")
						prohibited this mark from being saved:
					%ul
						- @subscription.errors.full_messages.each do |msg|
							%li = msg
			
			%form.form-inline
				.form-group
					= f.text_field :email
					= f.submit
