// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('http://fonts.googleapis.com/css?family=Pacifico&subset=latin,latin-ext');
@import url('http://fonts.googleapis.com/css?family=Josefin+Slab:300italic');

body {
  min-height:700px;
  border-bottom: 20px solid rgba( 1, 1, 1, 0.04);
  border-top: 20px solid rgba( 1, 1, 1, 0.04);
  border-left: 20px solid rgba( 1, 1, 1, 0.04);
  border-right: 20px solid rgba( 1, 1, 1, 0.04);
}

a{
  color:black;
  font-family: 'Pacifico', cursive;
  line-height: 30px;
}

h1 {
  font-size:60px;
  text-align:center;
  border-bottom: 20px solid rgba( 1, 1, 1, 0.04 );
  font-family: 'Pacifico', cursive;
}

a{
  color:black !important;
}

.main-row{
  text-align:center;
  height:52px;
}

.options-menu{
  padding-top:40px;
}

.small-text, .info{
  font-family: 'Josefin Slab', cursive;
}

.medium-text{
  font-size:28px !important;
}

.box-container{
  border-top: 20px solid rgba( 1, 1, 1, 0.04 );
  border-right: 20px solid rgba( 1, 1, 1, 0.04 );
  border-left: 20px solid rgba( 1, 1, 1, 0.04 );
  border-bottom: 20px solid rgba( 1, 1, 1, 0.04 );
}

.box-container.listing{
  height:490px;
}

.form-container{
  text-align:left;
}

.image-container{
  text-align:center;
}

.image-container img {
  margin-top:10px;
  margin-bottom:20px;
}

.image-container div.description{
  font-size:25px;
  text-align:justify;
  padding-left:70px;
  padding-right:70px;
  font-weight:300;
  font-style:italic;
  font-family: 'Josefin Slab', cursive;
  margin-bottom:10px;
}

.image-container div.small_description{
  height:30%;
  overflow:hidden;
  font-size:20px;
  text-align:justify;
  font-weight: 300;
  font-family: 'Josefin Slab', cursive;
}

.image-container p.small_title, p.small_title a {
  font-size:30px;
  font-family: 'Pacifico', cursive;
}

.image-container p.title, p.title a {
  font-size:50px;
  font-weight:500;
  font-family: 'Pacifico', cursive;
}


.title {
  font-size:50px;
  font-weight:300;
  font-family: 'Pacifico', cursive;
}

.title .untitle{
  line-height: 40px !important;
  font-size:20px;
  vertical-align: middle;
  margin-bottom:10px; 
/*  margin-left: 4px;
  margin-bottom: 4px;*/
} 

.title .untitle:before{
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  /*margin-left: 6px;*/
  /*margin-bottom: 4px;*/
}

.red {
  color:red;
}

img {
  max-width:100%;
}

.profile-pic {
  width:60px;
  padding-bottom:10px;
}

nav{
  text-align:center ;
}

.txtCentered {
  text-align:center;
}

p.txtStyle{
  font-family: 'Josefin Slab', serif;
  font-weight:300;
  //font-family: 'Dancing Script', cursive;
}

p.medium_title {
  font-size:50px;
}

p.small_title {
  font-size:30px;
}

p.tiny-text {
  font-size:20px;
}

img.medium-image {
  height:130px;
}

.comment-text{
  text-align:left;
  float:left;
  font-family:'Josefin Slab';
}

.commentBox{
  margin-right:150px;
}

#add_comment_link {
  float:right;
}

.image-medium{
  height:214px;
  width:323px;
}

#tinymce {
  border:       none;
  font-size:    14px;
  font-family: 'Kalam', cursive;
  line-height:  5px;
}

.underline {
  text-decoration:underline;
}

.suggestions {
  height:350px !important;
}

.state_change_btns {
  margin-top:10px;
  padding-bottom:10px;
  border-bottom: 5px double rgba( 1, 1, 1, 0.04);
}

.btn-state_label {
  font-weight: 500;
  
}

.navbar-top__space {
  margin-top: 8px;
}
